extends ../layout.pug

block head
	title Brave

block content
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td.text-center
					h3.mt-5 Not using Tor Browser on .onion? Yes, we can tell.
					h3 That's because browsers like "Brave" are #[em not real .onion browsers].
					p You are not anonymous, your browser lacks fingerprint protection, and frankly you stand out like a sore thumb.
					p Stop being dumb. #[a.bold(rel='nofollow' referrerpolicy='same-origin' target='_blank' href='https://www.torproject.org/download/') Download Tor Browser].
