extends ../layout.pug

block head
	title Brave

block content
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td.text-center
					h3.mt-5 Using "Brave" on .onion? Yes, we can tell.
					h3 That's because #[em Brave is not a real .onion browser].
					p Disable javascript to stop getting redirected to this page.
					p Or, stop standing out like a sore thumb and use #[a.bold(rel='nofollow' referrerpolicy='same-origin' target='_blank' href='https://www.torproject.org/download/') Tor Browser].
