extends ../layout.pug

block head
	title Brave

block content
	.table-container.flex-center.mv-10
		table.table-body.w900
			tr.table-row
				td.text-center
					h1.no-m-p Using "Brave" to browse the .onion? Yes, we can tell.
					h1.no-m-p That's because Brave is #[em not a proper .onion browser].
					p You are not anonymous, your browser lacks fingerprint protection, and frankly you stand out like a sore thumb.
					p Stop being dumb. #[a.bold(rel='nofollow' referrerpolicy='same-origin' target='_blank' href='https://www.torproject.org/download/') Download Tor Browser].
