extends ../layout.pug

block head
	- const minimal = true;
	title Nothing here!

block content
	div(style="position:absolute;top:30%;left:50%;transform:translate(-50%, -50%);width:100%")
		h1.board-title Nothing here!
		.col.flex-center.mv-10
			p Try again some other time.
