extends ../layout.pug

block head
	- const minimal = true;
	title Please hold

block content
	h1.board-title Nothing here!
	.col.flex-center.mv-10
		p Domain on standby in case of emergency.
		p Were you looking for #[a(href='https://fatchan.org/') fatchan.org], or perhaps this #[a(href='http://cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion/') Tor hidden service] or #[a(href='http://e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki/') Lokinet SNApp]?
