extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					ul
						li Do not post or link to any content that violates laws of the United States of America
						li Do not spam, flood or perform any actions to an extent that negatively impacts the usual function of the website/server
						li Do not post discord or other social media links or invite codes intended to replace the site or create discussion outside the site. That's how you lose your anonymity and kill chans
						li Report technical issues on #[a(href='/t/index.html') >>>/t/], and email security issues to tom-69420-me (replace - with @ .)
