extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table
			tr
				th Global Rules
			tr
				td.post-message

					ol
						li If you are under 18 years of age you must stop accessing the site immediately.
						li The following content is forbidden:
							p Any kind of CSAM related or suggestive content, including "lolicon/shotacon".
							p Animal cruelty content.
							p Content of a personal or private nature, e.g. "doxing".
							p Content that disturbs normal site operation.
						li Any form of flooding / spam / advertising is forbidden.
					p Global Rules apply to all boards.
	.table-container.flex-center.mv-10
		table
			tr
				th Board Management Rules
			tr
				td.post-message

					ol
						li Users are responsible for their created boards and have to administer them according to the Global Rules and normal site operation.
					//	li Insert rules about abandoned boards here, maybe?

