extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 0. This website is only to be used for legal purposes.
					p 1. No spam, flooding, (D)DoS, etc.
					p 2. No advertising, link shorteners, referrals or affiliate links, etc.
					p These rules may change at any time with or without notice and will still fully apply.
					p For DMCA notices, please #[a(href='/faq.html#contact') contact the administration].
