extends ../layout.pug

block head
	script(src='/js/all.js')
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p Do not post, link or promote any content that violates laws of the United States of America.
					p Do not spam, flood or perform any actions to an extent that negatively impacts the usual function of the website/server.
					p SFW marked boards should have primarily SFW content and ensure that any NSFW content is spoilered.
