extends ../layout.pug

block head
	script(src='/js/all.js')
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do not post, request, link or promote any content illegal under United States law.
					p 2. Do not post child models, underage, "jailbait", social media posts of kids, etc.
					p 3. Do not spam, flood, (D)DoS, etc which may negatively impact site performance.
					p 4. No advertising, link shorteners, referrals or affiliate links, etc.
					p 5. Boards created for the sole purpose of spam or whose board owners neglect reasonable antispam settings may be locked, forfeited or deleted.
					p 6. SFW marked boards must be primarily SFW and spoiler all NSFW content.
