
extends ../layout.pug

block head
	script(src='/js/all.js')
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p Do not post, link or promote any content illegal under United States law.
					p Do not spam, flood, (D)DoS, etc. which negatively impacts site performance.
					p SFW marked boards must be primarily SFW and spoiler all NSFW content.
					p No advertising other imageboards. Join the webring instead of shilling.
