extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 0. This website is only to be used for legal purposes.
					p 1. No spam, flooding, (D)DoS attacks.
					p 2. No advertising, link shorteners, referrals or affiliate links, promoting non-webring sites.
					p 3. Board staff who neglect their moderation duties will have their position forfeited.
					p All rules are subject to administrative discretion and may change at any time with or without notice and will still fully apply.
					p To contact the administrator, please refer to the #[a(href='/faq.html#contact') contact section of the FAQ].
