extends ../layout.pug

block head
	title Transparency

block content
	h1.board-title Transparency Report
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p Updated monthly
					p
						a(href='/file/no-cd/pubkey.asc') pubkey
					details
						summary 2020
						ul
							li: a(href='/file/no-cd/canary-23-12-2020.txt') 23-12-2020
					details
						summary 2021
						ul
							li: a(href='/file/no-cd/canary-24-01-2021.txt') 24-01-2021
							li: a(href='/file/no-cd/canary-24-02-2021.txt') 24-02-2021
