extends ../layout.pug

block head
	title Transparency

block content
	h1.board-title Transparency Report
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p A transparency report is published monthly. Each one is signed with with a PGP key linked below and contains the latest bitcoin block hash at the time of writing. This proves at least that the message was authored by somebody with access to the private key, and was not made in advance to be published retroactively.
					p
						a(href='/file/no-cd/pubkey.asc') public key
					p To verify a message, first download the public key and import it. #[.code gpg --import pubkey.asc]
					p Then download any of the reports, and verify it to ensure the signature is good and the fingerprint matches. #[.code gpg --verify report-23-12-2020.txt]
					details
						summary 2020
						ul
							li: a(href='/file/no-cd/report-23-12-2020.txt') 23-12-2020
					details
						summary 2021
						ul
							li: a(href='/file/no-cd/report-24-01-2021.txt') 24-01-2021
							li: a(href='/file/no-cd/report-24-02-2021.txt') 24-02-2021
							li: a(href='/file/no-cd/report-23-03-2021.txt') 23-03-2021
							li: a(href='/file/no-cd/report-24-04-2021.txt') 24-04-2021
							li: a(href='/file/no-cd/report-25-05-2021.txt') 25-05-2021
							li: a(href='/file/no-cd/report-24-06-2021.txt') 24-06-2021
							li: a(href='/file/no-cd/report-24-07-2021.txt') 24-07-2021
							li: a(href='/file/no-cd/report-01-09-2021.txt') 01-09-2021
							li: a(href='/file/no-cd/report-01-10-2021.txt') 01-10-2021
							li: a(href='/file/no-cd/report-01-11-2021.txt') 01-11-2021
							li: a(href='/file/no-cd/report-01-12-2021.txt') 01-12-2021
					details(open)
						summary 2022
						ul
							li: a(href='/file/no-cd/report-02-01-2022.txt') 02-01-2022
							li: a(href='/file/no-cd/report-01-02-2022.txt') 01-02-2022
							li: a(href='/file/no-cd/report-01-03-2022.txt') 01-03-2022
