upstream chan {
	#ip_hash;
	server 127.0.0.1:7000;
	server 127.0.0.1:7001;
	server 127.0.0.1:7002;
	server 127.0.0.1:7003;
}

server {
	server_name www.e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki www.fatchan.loki fatchan.loki;
	client_max_body_size 0;

	listen 172.16.0.1:80;

	include /etc/nginx/includes/security_headers.conf;
	include /etc/nginx/includes/error_pages.conf;
	include /etc/nginx/includes/js_challenge.conf;
	include /etc/nginx/includes/jschan_common_routes.conf;
	include /etc/nginx/includes/jschan_loki_routes.conf;
}

server {
	server_name www.cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion www.e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki e8zhrn4ideccyy6wfs8gyytdgz8xmcn11f1y5o557z3g8a18gf4y.loki;
	client_max_body_size 0;

	listen unix:/var/run/nginx-tor.sock;
	allow "unix:";
	deny all;

	include /etc/nginx/includes/security_headers.conf;
	include /etc/nginx/includes/error_pages.conf;
	include /etc/nginx/includes/js_challenge.conf;
	include /etc/nginx/includes/jschan_common_routes.conf;
	include /etc/nginx/includes/jschan_tor_routes.conf;
}

server {
	absolute_redirect off;
	server_name fatchan.org www.fatchan.org;
	client_max_body_size 0;
	add_header onion-location 'http://cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion$request_uri';	

	listen [::]:443 ssl http2 ipv6only=on; # managed by Certbot
	listen 443 ssl http2; # managed by Certbot
	include snippets/self-signed.conf;
	include snippets/ssl-params.conf;

	include /etc/nginx/includes/realip.conf;
	include /etc/nginx/includes/security_headers.conf;
	include /etc/nginx/includes/error_pages.conf;
	include /etc/nginx/includes/js_challenge.conf;
	include /etc/nginx/includes/jschan_common_routes.conf;
	include /etc/nginx/includes/jschan_clearnet_routes.conf;
}

server {

	absolute_redirect off;
	server_name fatchan.is fatchan.li fatchan.ru fatchan.tw fatchan.net fatchan.top fatchan.to www.fatchan.is www.fatchan.li www.fatchan.ru www.fatchan.tw www.fatchan.net www.fatchan.top www.fatchan.to;
	client_max_body_size 0;
	add_header onion-location 'http://cimixezweeq64g42vl6tyhk4becxhi4ldwqq6w43u53qhwsd3s4c3lyd.onion$request_uri';	

	listen [::]:443 ssl http2 ipv6only=on; # managed by Certbot
	listen 443 ssl http2; # managed by Certbot
	include snippets/self-signed.conf;
	include snippets/ssl-params.conf;

	include /etc/nginx/includes/realip.conf;
	include /etc/nginx/includes/security_headers.conf;
	#include /etc/nginx/includes/error_pages.conf;
	include /etc/nginx/includes/js_challenge.conf;
	include /etc/nginx/includes/jschan_limited_routes.conf;

}
