details.toggle-label
	summary.toggle-summary Show Post Actions
	.actions 
		h4.no-m-p Actions:
		label
			input.post-check(type='checkbox', name='delete' value='Delete post')
			| Delete Posts
		label
			input.post-check(type='checkbox', name='delete_file' value='Delete files')
			| Delete Files
		label
			input.post-check(type='checkbox', name='spoiler' value='Spoiler files')
			| Spoiler Files
		label
			input.post-check(type='checkbox', name='global_report' value='Global report')
			| Global Report
		label
			input#report(type='text', name='report_reason', placeholder='report reason' autocomplete='off')
		label
			input.post-check(type='checkbox', name='delete_ip_board' value='Delete posts by IP')
			| Delete from IP on board
		label
			input.post-check(type='checkbox', name='delete_ip_global' value='Delete posts by IP global')
			| Delete from IP globally
		label
			input.post-check(type='checkbox', name='dismiss' value='Dismiss reports')
			| Dismiss Reports
		label
			input.post-check(type='checkbox', name='ban' value='Ban')
			| Ban Poster
		label
			input.post-check(type='checkbox', name='global_ban' value='Ban global')
			| Global Ban Poster
		label
			input.post-check(type='checkbox', name='no_appeal' value='Non-appealable')
			| Non-appealable Ban
		label
			input.post-check(type='checkbox', name='preserve_post' value='Show post in ban')
			| Show Post In Ban
		label
			input(type='text', name='ban_reason', placeholder='ban reason' autocomplete='off')
		label
			input(type='text', name='ban_duration', placeholder='ban duration e.g. 7d' autocomplete='off')
	input(type='submit', value='submit')
