details.toggle-label#actionform
	summary.toggle-summary Show Post Actions
	.actions
		h4.no-m-p Actions:
		label
			input.post-check(type='checkbox', name='delete' value='1')
			| Delete Posts
		label
			input.post-check(type='checkbox', name='unlink_file' value='1')
			| Unlink Files
		label
			input.post-check(type='checkbox', name='spoiler' value='1')
			| Spoiler Files
		label
			input#password(type='password', name='postpassword', placeholder='post password' autocomplete='off')
		label
			input.post-check(type='checkbox', name='report' value='1')
			| Report
		label
			input.post-check(type='checkbox', name='global_report' value='1')
			| Global Report
		label
			input#report(type='text', name='report_reason', placeholder='report reason' autocomplete='off')
	.actions
		h4.no-m-p Captcha:
		include ./captcha.pug
	input(type='submit', value='submit')
