if globalAnnouncement.markdown
	hr(size=1)
	pre.post-message.no-m-p.text-center !{globalAnnouncement.markdown}
	if !board.settings.announcement.markdown
		hr(size=1)
if board.settings.announcement.markdown
	hr(size=1)
	pre.post-message.no-m-p.text-center !{board.settings.announcement.markdown}
	hr(size=1)
