.table-container.mv-10.text-center.horscroll
	table.fw
		tr
			th
			th Board
			th Reason
			th IP
			th Issuer
			th Issue Date
			th Expiry
			th Post(s)
			th Seen?
			th Appealable?
			th Appeal
