.table-container.flex-center.mv-10.text-center
	table(style='width:100%;')
		tr
			th
			th Board
			th Reason
			th IP
			th Issuer
			th Issue Date
			th Expiry
			th Post(s)
			th Appealable?
			th Appeal
