.table-container.mv-10.text-center.horscroll
	table.bantable
		tr
			th
			th Board
			th Reason
			th IP/ID
			th Type
			th Range
			th Issuer
			th Issue Date
			th Expiry
			th Post(s)
			th Seen?
			th Appealable?
			th Appeal
			th Note
