.table-container.flex-center.mv-10.text-center
	table.boardtable
		tr
			th Board
			th Description
			th.help(title='Posts in the last hour') PPH
			th.help(title='Unique posters in the last 24h') Users
			th Posts
