noscript.no-m-p
	iframe.captcha(src='/captcha.html' 'width=200' height='80' scrolling='no')
input.captchafield(type='text' name='captcha' autocomplete='off' placeholder='captcha text' pattern=".{6}" required title='6 characters')
