if googleRecaptchaEnabled
	div(class="g-recaptcha captchafield" data-sitekey=`${googleRecaptchaSiteKey}` data-theme="dark" data-size="compact" data-callback="recaptchaCallback")
else
	noscript.no-m-p
		iframe.captcha(src='/captcha.html' 'width=210' height='80' scrolling='no' loading='lazy')
	.jsonly.captcha(style='display:none;')
	input.captchafield(type='text' name='captcha' autocomplete='off' placeholder='Captcha text' pattern=".{6}" required title='6 characters')
