section.board-header
	img.board-banner(src=`/randombanner?board=${board._id}` width='300' height='100')
	br
	h1.board-title Catalog (#[a.no-decoration(href=`/${board._id}/index.html`) /#{board._id}/])
