section.delete-wrapper
	p Report OR delete selected posts
	input#report(type='report', name='report', placeholder='report reason' autocomplete='off')
	input#password(type='password', name='password', placeholder='password (for deletion)' autocomplete='off')
	input(type='submit', value='submit')
