label.jsonly.postform-style.filelabel(for='file') 
	- const maxFiles = thread || threads ? board.settings.maxFiles : globalLimits.bannerFiles.max;
	| Select/Drop/Paste file#{maxFiles > 1 ? 's' : ''}
	small (Max #{maxFiles})
