unless minimal
	.footer#bottom
		| • 
		a(href='/news.html') news
		|  • 
		a(href='/rules.html') rules
		|  • 
		a(href='/faq.html') faq
		|  • 
		a(href='https://gitgud.io/fatchan/jschan/') source code
		|  •  
		|
		div
			small.mono bc1q4elrlz5puak4m9xy3hfvmpempnpqpu95v8s9m6
script(src=`/js/render.js?v=${commit}`)
