unless minimal
	small.footer#bottom
		| - 
		a(href='/news.html') news
		|  - 
		a(href='/rules.html') rules
		|  - 
		a(href='/faq.html') faq
		|  - 
		div
			a(href='https://gitgud.io/fatchan/jschan/') jschan
			|  #{version}
script(src=`/js/render.js?v=${commit}`)
