unless minimal
	.footer#bottom
		| • 
		a(href='/news.html') news
		|  • 
		a(href='/rules.html') rules
		|  • 
		a(href='/faq.html') faq
		|  • 
		a(href='https://status.fatpeople.lol/goto/8_-hNsaGk') status
		|  • 
		a(href='/canary.html') canary
		|  • 
		a(href='https://gitgud.io/fatchan/jschan/') source
		|  •  
		|
		div JSChan 0.0.1-#{commit}
script(src=`/js/render.js?v=${commit}`)
