unless minimal
	small.footer#bottom
		a(href='/rules.html') rules
		|  • 
		a(href='/faq.html') faq
		|  • 
		a(href='http://fatchan.gitgud.site/jschan-docs/' rel='nofollow' referrerpolicy='same-origin' target='_blank') api
		|  • 
		a(href='https://fatchan.betteruptime.com/' rel='nofollow' referrerpolicy='same-origin' target='_blank') status
		div
			a(href='https://gitgud.io/fatchan/jschan/') jschan
			|  #{version}

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
