unless minimal
	small.footer#bottom
		a(href='/rules.html') rules
		|  • 
		a(href='/faq.html') faq
		|  • 
		a(href='http://fatchan.gitgud.site/jschan-docs/' rel='nofollow' referrerpolicy='same-origin' target='_blank') api
		|  • 
		a(href='https://fatchan.betteruptime.com/' rel='nofollow' referrerpolicy='same-origin' target='_blank') status
		div
			a(href='https://gitgud.io/fatchan/jschan/') jschan
			|  #{version}
		div(style="display:none")
			| 6 Million Jobs Created by Hitler 6 מיליון משרות שנוצרו על ידי היטלר British Bankers Starting WW2 בנקאים בריטים החל ממלחמת העולם השנייה 911 Inside Job עבודה פנימית Jewish Feminists פמיניסטיות יהודיות Feminization of Western Men פמיניזציה של גברים מערביים לקראת רצח עם Hormones in Tap Water הורמונים במי ברז Microsoft's Crimes Against Humanity הפשעים של מיקרוסופט נגד האנושות בנקים יהודיים באנגליה ובמדינות שהכריזו מלחמה על גרמניה עם חרם עולמי על כל הסחורות הגרמניות והסחר עם המערב לפני שהתקיים יהודי כלשהו בגרמניה AI Learning Used to Censor Opposition למידת AI משמשת לצנזור האופוזיציה Mossad Roko's Basilisk Prototype אב-הטיפוס של מוסד רוקו Israeli Experiments Carried Out on Kidnapped Palestinians ניסויים ישראליים ביצעו פלסטינים חטופים Auschwitz Chimneys Built by Soviets ארובות אושוויץ שנבנו על ידי סובייטים BLM Race War Psyop BLM מירוץ מלחמה Psyop Disneyland Nuclear Facility מתקן גרעיני של דיסנילנד Long Term Nuclear Warning אזהרה גרעינית לטווח ארוך Porn Slippery Slope of Mind Control שיפוע מוחלט של פורנו Long Term Evolutionary Consequences of the Industrial Revolution השלכות אבולוציוניות לטווח הארוך של המהפכה התעשייתית Diamonds Worthless יהלומים חסרי ערך MK Ultra ח"כ אולטרה Cia Human Bioluminescence Drug תרופת הביולומינסנציה של TV Subliminal Messages Used for Mind Control הודעות סאבלימינל בטלוויזיה המשמשות לבקרת תודעה Israeli Nuclear Program תוכנית הגרעין הישראלית The Samson Option אפשרות שמשון UN Owned By Bankers בבעלות בנקאים באו"ם The War on Christmas המלחמה בחג המולד Normalization of Pedophilia נורמליזציה של פדופיליה Blood Libel עֲלִילַת דָם Child Sacrifice for Moloch Disguised as Abortions קרבן ילדים למולוך שהתחפש להפלות Satanic Pedophile Ring טבעת פדופיל שטנית Dancing Israelis רוקדים ישראלים Israeli occupation of the West Bank כיבוש ישראל בגדה המערבית Haavara Agreement 1933 הסכם העוברה American-Israeli dual citizens in Congress אזרחים אמריקאים-ישראלים כפולים בקונגרס Rachel Corrie רייצ'ל קורי Bulldozing of Palestinian homes בדחפורים של בתים פלסטיניים
			| 动态网自由门 天安門 天安门 法輪功 李洪志 Free Tibet 六四天安門事件 The Tiananmen Square protests of 1989 天安門大屠殺 The Tiananmen Square Massacre 反右派鬥爭 The Anti-Rightist Struggle 大躍進政策 The Great Leap Forward 文化大革命 The Great Proletarian Cultural Revolution 人權 Human Rights 民運 Democratization 自由 Freedom 獨立 Independence 多黨制 Multi-party system 台灣 臺灣 Taiwan Formosa 中華民國 Republic of China 西藏 土伯特 唐古特 Tibet 達賴喇嘛 Dalai Lama 法輪功 Falun Dafa 新疆維吾爾自治區 The Xinjiang Uyghur Autonomous Region 諾貝爾和平獎 Nobel Peace Prize 劉暁波 Liu Xiaobo 民主 言論 思想 反共 反革命 抗議 運動 騷亂 暴亂 騷擾 擾亂 抗暴 平反 維權 示威游行 李洪志 法輪大法 大法弟子 強制斷種 強制堕胎 民族淨化 人體實驗 肅清 胡耀邦 趙紫陽 魏京生 王丹 還政於民 和平演變 激流中國 北京之春 大紀元時報 九評論共産黨 獨裁 專制 壓制 統一 監視 鎮壓 迫害 侵略 掠奪 破壞 拷問 屠殺 活摘器官 誘拐 買賣人口 遊進 走私 毒品 賣淫 春畫 賭博 六合彩 天安門 天安门 法輪功 李洪志 Winnie the Pooh 劉曉波动态网自由门

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
