meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/style.css')
- const theme = board ? board.settings.theme : defaultTheme;
link#theme(rel='stylesheet' data-theme=theme href=`/css/themes/${theme}.css`)
noscript
	style .jsonly { display: none }
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
