meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
noscript
	style .jsonly { display: none; }
link(rel='stylesheet' href='/css/style.css')
- const isBoard = board != null;
- const theme = isBoard ? board.settings.theme : defaultTheme;
- const codeTheme = isBoard ? board.settings.codeTheme : defaultCodeTheme;
link#theme(rel='stylesheet' data-theme=theme href=`/css/themes/${theme}.css`)
link#codetheme(rel='stylesheet' data-theme=codeTheme href=`/css/codethemes/${codeTheme}.css`)
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
