section.board-header
	img.board-banner(src=`/randombanner?board=${board._id}` width='300' height='100' alt='banner image')
	br
	h1.board-title Logs (#[a.no-decoration(href=`/${board._id}/index.html`) /#{board._id}/])
