if bans.length === 0
	p No bans.
else
	input(type='hidden' name='_csrf' value=csrf)
	include ../includes/bantable.pug
		for ban in bans
			+ban(ban)
	.action-wrapper.mv-10
		.row
			.label Unban
			label.postform-style.ph-5
				input(type='radio' name='option' value='unban' checked='checked')
		.row
			.label Deny Appeal
			label.postform-style.ph-5
				input(type='radio' name='option' value='deny_appeal')
		.row
			.label Upgrade Ban
			label.postform-style.ph-5.mr-1
				input(type='radio' name='option' value='upgrade')
			select(name='upgrade')
				option(value='')
				option(value='1') Narrow Range
				option(value='2') Wide Range
		.row
			.label Edit Duration
			label.postform-style.ph-5.mr-1
				input(type='radio' name='option' value='edit_duration')
			input(type='text' name='ban_duration' placeholder='Ban duration e.g. 7d' autocomplete='off')
		.row
			.label Edit Note
			label.postform-style.ph-5.mr-1
				input(type='radio' name='option' value='edit_note')
			input(type='text' name='ban_note')
	input(type='submit' value='Submit')

