unless minimal
	nav.navbar
		a.nav-item(href='/index.html') Home
		a(href='/boards.html' class=`nav-item ${enableWebring ? 'short-nav' : ''}`)
			| Boards 
			if enableWebring
				.rainbow +Webring
		a.nav-item#overboardlink(href='/overboard.html') Overboard
		a.nav-item(href='/account.html') Account
		if board
			a.nav-item(href=`/${board._id}/manage/reports.html`) Manage
		a.jsonly.nav-item.right#settings
