nav.navbar#top
	a.nav-item(href='/') Home
	a.nav-item(href='/news.html') News
	a.nav-item(href=`/${board ? board._id+'/' : 'global'}manage.html`) Manage
	a.nav-item(href='/create.html') Create
	a.nav-item.right(href='/logout') Logout
