nav.navbar#top
	a.nav-item(href='/index.html') Home
	a.nav-item(href='/news.html') News
	a.nav-item(href='/boards.html') Boards
	a.nav-item(href=`/${board ? board._id+'/manage/reports' : 'globalmanage/reports'}.html`) Manage
	a.nav-item(href='/create.html') Create
	a.jsonly.nav-item.right#settings &#9881;
