nav.navbar
	a.nav-item(href='/') Home
	a.nav-item.right(href='/logout') Logout
	a.nav-item.right(href=`/${board ? board._id+'/' : 'global'}manage.html`) Manage
	a.nav-item.right(href=`/login.html${board ? '?goto=/'+board._id : ''}`) Login
