if post.sticky || post.bumplocked || post.locked || post.cyclic
	span.post-icons
		if post.sticky
			img(src='/img/sticky.png' height='14' width='14' title='Sticky')
			| 
		if post.bumplocked
			img(src='/img/bumplock.png' height='14' width='14' title='Bumplocked')
			| 
		if post.locked
			img(src='/img/lock.png' height='14' width='14' title='Locked')
			| 
		if post.cyclic
			img(src='/img/cyclic.png' height='14' width='14' title='Cyclic')
			| 

