if post.sticky 
	img(src='/img/sticky.png' height='12' width='12' title='Sticky')
	| 
if post.bumplocked
	img(src='/img/bumplocked.png' height='12' width='12' title='Bumplocked')
	| 
if post.locked 
	img(src='/img/locked.png' height='12' width='12' title='Locked')
	| 
if post.cyclic 
	img(src='/img/cyclic.png' height='13' width='13' title='Cyclic')
	| 
