if !isThread || !board.settings.disableReplySubject
	section.row
		.label
			span #{__('Subject')}
				if subjectRequired
					span.required *
		input(type='text', name='subject', autocomplete='off' maxlength=globalLimits.fieldLength.subject required=subjectRequired)
