node_modules/
backup.sh
configs/*.json
configs/*.js
static/*
gulp/res/js/socket.io.js
views/custompages/*.pug
/gulp/res/css/codethemes
gulp/res/js/timezone.js
gulp/res/js/themelist.js
gulp/res/js/post.js
gulp/res/js/modal.js
tmp/
