#selected-flag {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}
.catalog-tile, .post-container {
    transition: background-color 80ms, border-color 80ms;
}
a {
    transition: color 100ms;
}
table.boardtable th:nth-child(1) {
	min-width: 150px;
}
.footer {
	line-height: 1.5em;
}
.corner-logo {
	background: right bottom / contain no-repeat url("/file/mascotcorner.png")!important;
}
.aa {
	font-family: Mona, "MS Pgothic", "MS P繧ｴ繧ｷ繝�け", IPAMonaPGothic, "IPA 繝｢繝翫� P繧ｴ繧ｷ繝�け", submona !important;
}
@media only screen and (max-width: 500px) {
	.corner-logo {
		background-size: 75px;
	}
}
.obscuremail::after {
	content: "@";
}
.phishing-warning {
	top: 38px;
	background: darkred;
}
.more {
	display: list-item;
}
#settingsmodal, .floatactions[open], .modal {
	padding: 10px;
	border: 3px solid var(--darken);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #00000050;
}
#actionform #action-menu {
	right: 10px;
}
#settingsmodal {
	top: 40%;
	transform: translateY(-40%);
	max-height: calc(100% - 10px);
}
@media only screen and (max-width:600px) {
	#settingsmodal {
		top: 5px;
		transform: unset;
	}
}
.post-data {
	padding-bottom: 2px;
}
@keyframes glint {
	0% {
		background-position: -500%;
	}
	100% {
		background-position: 500%;
	}
}
span.post-capcode[data-cap="## Admin"] {
	display: inline-block;
	animation: glint ease infinite 5s;
	background: linear-gradient(90deg, var(--capcode-color), #fff, var(--capcode-color));
	background-repeat: no-repeat;
	background-size: 30%;
	background-clip: text;
	-webkit-background-clip: text;
}

@media only screen and (max-width:600px) {

	#tegaki {
		grid-template-columns: 40px 1fr 0px;
		grid-template-rows: 24px 1fr 325px;
	}

	#tegaki-ctrl-cnt {
		grid-area: 3/2/3/2;
		z-index: 1;
	}

	#tegaki-layers-wrap {
		padding: 10px;
	}
}
