img {
	width: 200px;
	height: 80px;
	margin: 0 auto;
}
input {
	position: fixed;
	left: -3px;
	bottom: 0;
	opacity: 0.9;
    border: none;
    background: none;
	font-size: 18px;
	cursor: pointer;
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
	padding: 0;
}
