:root {
	--background-top: #d6daf0;
	--background-rest: #eef2ff;
	--post-color: #D6DAF0;
	--post-outline-color: #B7C5D9;
	--label-color: #98E;
	--box-border-color: #000;
	--transparent-darken: #00000010;
	--highlighted-post-color: #d6bad0;
	--highlighted-post-outline-color: #ba9dbf;
	--report-color: #fca;
	--report-outline-color: #c97;
	--board-title: #af0a0f;
	--hr: lightgray;
	--font-color: black;
	--name-color: #117743;
	--capcode-color: #f00;
	--subject-color: #0F0C5D;
	--link-color: #34345C;
	--post-link-color: #d00;
	--link-hover: #d00;
	--input-borders: #a9a9a9;
	--input-color: #000;
	--input-background: white;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	color: var(--font-color);
	background: linear-gradient(var(--background-top) 38px, var(--background-rest) 238px);
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.strikethrough {
	text-decoration: line-through;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

pre {
	font-family: inherit;
	margin: 1em 2em;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.replies {
	padding-top: 5px;
	font-size: smaller;
	clear: both;
}

.code {
	text-align: left;
	border-width: 1px 1px 1px 10px;
	border-style: solid;
	border-color: var(--transparent-darken);
	display: block;
	margin: 0.5em 0;
	display: flex;
	overflow-x: auto;
	white-space: pre;
}

.code, .mono {
    background: var(--transparent-darken);
    padding: 2px;
    font-family: monospace;
}

.ml-1 {
	margin-left: 1px;
}
.ml-5 {
	margin-left: 5px;
}
.mr-1 {
	margin-right: 1px!important;
}
.mr-5 {
	margin-right: 5px;
}
.mv-10 {
	margin: 10px 0;
}
.mb-10 {
	margin-bottom: 10px;
}
.ph-5 {
	padding: 0 5px;
}
.pv-5 {
	padding: 5px 0;
}

.pages {
	box-sizing: border-box;
	padding: 10px;
	width: max-content;
	width: -moz-max-content;
}

a, a:visited, a .post-name {
	text-decoration: underline;
	color: var(--link-color);
}

.post-message a {
	text-decoration: underline;
	color: var(--post-link-color);
}

.pages a, .stickynav a {
	text-decoration: none;
}

object {
	object-fit: contain;
}

.board-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-tile {
	padding: 5px;
	margin: 2px;
	text-align: center;
	max-height: 300px;
	width: 250px;
	overflow: hidden;
	border: 2px solid var(--post-outline-color);
	box-sizing: border-box;
}

.catalog-tile:hover {
	overflow-y: auto;
}

p {
	margin: 5px;
}

.no-m-p {
	margin: 0px;
	padding: 0px;
}

.catalog-thumb {
	display: block;
	box-shadow: 0 0 3px black;
	width: 64px;
	height: 64px;
	object-fit: cover;
	margin: 5px;
}

.catalog {
	display:flex;
	align-items:flex-start;
	justify-content: center;
	flex-flow: row wrap;
}

.detected {
	background: #FAF8F8;
	color: #3060A8;
}

.spoiler {
	background: black;
	color: black;
}

.spoiler:hover {
	color: white;
}

.spoiler:not(:hover) * {
	color: black;
	background: black!important; /*for detected coloring*/
}

.mode {
	margin-top: 1px;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

.banmessage {
	color: red;
	font-weight: bold;
}

.close {
	text-decoration: none;
	justify-content: center;
	font-weight: bolder;
	margin-left: auto;
	width: 25px;
}

.reports {
	margin-top: 5px;
	background: var(--report-color) !important;
	border-color: var(--report-outline-color)!important;
	border-width: 1px 0;
	border-style: solid none;
}

.title, .required {
	color: maroon;
	font-weight: bold;
}

#bottom {
	margin-bottom: 10px;
}

.required {
	margin-left: 5px;
}

.pinktext {
	color: #E0727F;
}

.greentext {
	color: green;
}

a .post-name:hover, a:hover {
	color: var(--link-hover);
}

.thread, .action-wrapper, .form-wrapper, .table-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.thread .anchor:first-child {
	margin-top: -10px;
}

table {
	background: var(--background-rest);
	border: 1px solid var(--box-border-color);
	border-spacing: 0;
	width: 600px;
}

th {
	background: var(--label-color);
	text-align: left;
}

td, th {
	padding: 5px;
}

.action-wrapper {
	text-align: left;
}

.flex-center {
	align-items: center;
}

.stickynav {
	bottom: 5px;
	right: 5px;
	position: fixed;
	z-index: 1;
	padding: 5px;
}

.post-container, .stickynav, .pages, .toggle-summary, .catalog-tile {
	background: var(--post-color);
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: var(--post-outline-color);
}

.actions {
	text-align: left;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	margin: 2px 0;
	padding: 2px;
}

.action-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.actions label {
	padding: 2px 0;
}

.toggle-label:hover {
	/*box-shadow: inset 0 0 100px 100px rgba(255,255,255,.25);*/
}

.toggle-summary {
	padding: 10px;
	cursor: pointer;
}

#postform:target ~ .toggle-summary {
	display: none;
}

#postform:target ~ .toggle-hidden {
	height: 37px;
}

.toggle-label {
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column wrap;
	width: max-content;
	width: -moz-max-content;
}

.toggle {
	display: none;
}

.toggle:checked + * {
	display: flex;
}

.form-post {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.togglable {
	display: none;
}

.user-id {
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
	color: white;
	padding: 0px 2px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.post-check {
	position: relative;
	top: 3px;
	margin: -3px 1px !important;
}

.post-files {
	float: left;
	margin-right: 10px;
	display: flex;
	flex-flow: row wrap;
	align-items: start;
}

a, input, summary {
	outline: 0;
}

.post-data {
	overflow: hidden;
}

.post-file {
	display: inline-flex;
	flex-direction: column;
	margin: 0 4px;
	padding: 2px 0;
}

.post-file-info:hover {
	word-break: break-all;
}

.post-file-info {
	text-align: center;
	margin: 2px;
	margin-top: 0px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	font-size: x-small;
}

.post-file-src {
	justify-content: center;
	display: flex;
}

.file-thumb {
	max-width: 128px;
	max-height: 128px;
}

input:invalid, textarea:invalid {
	box-shadow: none;
}

textarea {
	min-width: 250px;
}

.no-resize {
	resize: none;
}

.container {
	padding: 10px;
}

.board-title {
	color: var(--board-title);
	font: bolder 28px Tahoma,sans-serif;
	letter-spacing: -2px;
	text-align: center;
	margin: 0;
}

.no-decoration {
	text-decoration: none;
}

.banner-check {
	display: flex;
	align-items: center;
}

.board-banner {
	margin: 10px;
	max-width: 100%;
}

.board-description {
	text-align:center;
	margin: 0;
}

.post-message {
	text-align: left;
}

.post-container, .ban {
	box-sizing: border-box;
	padding: 5px;
	max-width: 100%;
}

.anchor:target + .post-container {
	background-color: var(--highlighted-post-color) !important;
	border-color: var(--highlighted-post-outline-color) !important;
}

.anchor {
	height: 10px;
	margin-top: -5px;
}

.post-container.op {
	background: none;
	border-color: transparent;
	width: 100%;
}

.post-subject {
	color: var(--subject-color);
	font-weight: bold;
}

.post-capcode {
	font-weight: bold;
	color:var(--capcode-color);
}

.post-tripcode, .post-name {
	color: var(--name-color);
}

.post-name {
	font-weight: bold;
}

.post-info {
	margin: -5px -5px 0 -5px;
	padding: 5px;
	padding-left: 3px;
	display:block;
}

.post-info a {
	
}

.post-container.op .post-info {
	background: none;
	border: none;
}

.nav-item {
	line-height: 38px;
	text-decoration: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.left {
	float: left;
}

.clear-both {
	clear: both;
}

.muted {
	/*color: #000c;*/
}

.right {
	float: right;
}

.nav-item:hover {
	box-shadow: inset 0 0 100px 100px rgba(255,255,255,.25);
}

.footer {
	text-align: center;
	flex-shrink: 0;
	margin-top: auto;
	line-height: 30px;
}

input[type="number"], input[type="text"], input[type="submit"], input[type="password"], input[type="file"], textarea, select {
	border: 1px solid var(--input-borders);
	background: var(--input-background);
	color: var(--input-color);
	font-size: inherit;
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	flex-grow: 1;
	border-radius: 0px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

input[type="submit"] {
	min-height: 30px;
}

input[type="file"] {
	width: 200px;
	background: var(--input-background);
}

#postform {
	display: none;
	max-width: calc(100% - 10px);
	max-height: calc(100% - 50px);
	position: fixed;
	top: 5px;
	right: 5px;
	background-color: var(--post-color);
	border: 1px solid var(--post-outline-color);
	padding: 5px;
	z-index: 1;
	box-sizing: border-box;
}

#postform:target {
	display: flex;
}

.row, .col {
	display: flex;
}

.row {
	margin-bottom: 1px;
	overflow: hidden;
	max-width: 100%;
}

.col {
	flex-direction: column;
	flex-grow: 1;
}

.postform-style {
	display: flex;
	border: 1px solid var(--input-borders);
	background: var(--input-background);
	align-items: center;
}

.captcha {
	border: 1px solid var(--input-borders);
	background: white;
	margin-bottom: 1px;
	width: 100%;
	box-sizing: border-box;
	object-fit: contain;
}

.label {
	padding: 3px;
	border: 1px solid var(--box-border-color);
	min-width: 80px;
	background: var(--label-color);
	display: flex;
	align-items: center;
	font-weight: bold;
	margin-right: 1px;
}

hr {
	color: var(--hr);
}

@media only screen and (max-width: 600px) {

	.close {
		width: 30px;
	}

	input, .postform-style {
		height: 30px;
		box-sizing: border-box;
	}

	.form-post {
		width: calc(100% - 10px)!important;
	}

	.form-login {
		width: 100%;
	}

	pre {
		margin: 1em;
	}

	.post-check {
		top: 1px;
		margin-left: 2px!important;
		height: 8px;
	}

	.pages {
		width:100%;
	}

	.pad-anchor {
		width: 100%;
	}

	.post-container {
		box-shadow: none;
		width: 100%;
	}

	.catalog-tile {
		width: 50%;
		margin: 0 0 2px 0;
	}

	.catalog-tile:nth-child(odd) {
		margin-right: 2px;
		width: calc(50% - 2px);
	}

	table {
		width: 100%;
	}

	#postform {
		width: 100%;
	}

}

