doctype html
html
	head
		include includes/head.pug
		block head
	body#top
		include includes/navbar.pug
		main(class=(minimal?'minimal':''))
			.container
				block content
		include includes/footer.pug

