:root {
	--icon-color:invert(17%)sepia(89%)saturate(7057%)hue-rotate(2deg)brightness(93%)contrast(120%);
	--alt-label-color:#040404;
	--alt-font-color:#c5c8c6;
	--background-top:#000;
	--background-rest:#000;
	--navbar-color:#040404;
	--post-color:#040404;
	--post-outline-color:#111;
	--label-color:#040404;
	--box-border-color:#111;
	--darken:#040404;
	--highlighted-post-color:#040404;
	--highlighted-post-outline-color:#111;
	--board-title:#c5c8c6;
	--hr:#282a2e;
	--font-color:#c5c8c6;
	--name-color:#c5c8c6;
	--capcode-color:#f00;
	--subject-color:#b294bb;
	--link-color:#c5c8c6;
	--post-link-color:#5f89ac;
	--link-hover:#81a2be;
	--input-borders:#111;
	--input-color:#c5c8c6;
	--input-background:#040404;
	--dice-color:darkorange;
	--title-color:#d70000;
	--greentext-color:green;
	--pinktext-color:#E0727F;
}
.spoiler	{
	background:gray;
	color:gray;
}
.spoiler:not(:hover) * {
	color: gray;
	background: gray!important;
}
