:root {
    --icon-color: invert(97%)sepia(32%)saturate(5790%)hue-rotate(318deg)brightness(107%)contrast(93%);
    --hr: #F6D251;
    --link-color: #F6D251;
    --post-link-color: #F6D251;
    --label-color: #5A1687;
    --alt-label-color: #5A1687;
    --navbar-color: #5A1687;
    --font-color: #FAFAFA;
    --alt-font-color: #FAFAFA;
    --input-color: #FAFAFA;
    --background-top: #430070;
    --background-rest: #430070;
    --post-color: #35134C;
    --highlighted-post-color: #230D33;
    --box-border-color: #230D33;
    --post-outline-color: #230D33;
    --highlighted-post-outline-color: #230D33;
    --input-borders: #230D33;
    --darken: #230D339F ;
    --accent-color: #230D33;
    --board-title: #F85088;
    --title-color: #F85088;
    --link-hover: #F85088;
    --input-background: #5A1687;
    --subject-color: #F85088;
    --name-color: #70EF4C;
    --capcode-color: #F6D251;
    --dice-color: #FF770F;
    --greentext-color: #70EF4C;
    --pinktext-color: #F85088 
}

body {
    font-size: 16px;
    text-shadow: 1px 1px #000;
    background-image: linear-gradient(45deg,#35134CEF,#35134CEF),url(/css/themes/assets/digi-bg1.png)
}

#livetext,#threadstats,.bottom-reply,.catalog-tile,.collapse,.pages,.post-container {
    border: outset;
    border-color: #35134c 
}

.file-thumb {
    border: inset;
    border-color: #35134c 
}

.op.post-container {
    max-width: max-content;
    border: outset;
    border-color: #35134c;
    background: #35134c 
}

.board-title {
    text-shadow: 2px 2px #000 
}

.board-description {
    text-shadow: 2px 2px #000
}

.footer {
    font-size: 16px;
    background: linear-gradient(to right,#00000000,#0000009F,#00000000) 
}

.nav-item,.short-nav.nav-item {
    line-height: 2em 
}

.close.mr-0 {
    padding-right: 1em 
}

.text-center.no-m-p.post-message {
    max-width: max-content;
    margin: auto;
    font-weight: bold;
    padding: 10px;
    border: outset;
    border-color: #35134c;
    background: #35134c 
}

hr {
    border-width: 5px;
    border-style: dotted none none;
    margin: 5px 0 
}

* {
    cursor: url(/css/themes/assets/digi-cursor.png),default 
}

.post-file-info {
    font-size: 16px 
}
