/*tomorrow*/
:root {
	--alt-label-color: #1a1e34;
	--alt-font-color: #bfbfbf;
	--background-top: #080c19;
	--background-rest: #080c19;
	--navbar-color: #1a1e34;
	--post-color: #1a1e34;
	--post-outline-color: #2c3a4e;
	--label-color: #1a1e34;
	--box-border-color: #2c3a4e;
	--darken: #ffffff08;
	--highlighted-post-color: #44283e;
	--highlighted-post-outline-color: #664e5c;
	--board-title: #ff858a;
	--hr: #303030;
	--font-color: #bfbfbf;
	--name-color: #67b38d;
	--capcode-color: #ff4141;
	--subject-color: #8f8dc9;
	--link-color: #8585a3;
	--post-link-color: #f65252;
	--link-hover: #f65252;
	--input-borders: #434343;
	--input-color: #bfbfbf;
	--input-background: #080c19;
	--dice-color: darkorange;
	--title-color: #d70000;
	--greentext-color: green;
	--pinktext-color:#E0727F;
}
