/* from ptchan with love */

:root {
	--icon-color:invert(17%)sepia(89%)saturate(7057%)hue-rotate(2deg)brightness(93%)contrast(120%);
	--alt-label-color: #800;
	--alt-font-color: #fff;
	--background-top: #fed6af90;
	--background-rest: #ffe;
	--navbar-color: #f0e0d6;
	--post-color: #f0e0d6;
	--post-outline-color: #d9bfb7;
	--label-color: #EA8;
	--box-border-color: #000;
	--darken: #ead6ca;
	--highlighted-post-color: #f0c0b0;
	--highlighted-post-outline-color: #d99f91;
	--board-title: #af0a0f;
	--hr: #D9BFB7;
	--font-color: #800000;
	--name-color: #117743;
	--capcode-color: #f00;
	--subject-color: #f00;
	--link-color: #800;
	--post-link-color: navy;
	--link-hover: #f00;
	--accent-color: #EA8;
	--input-borders: #a9a9a9;
	--input-color: #000;
	--input-background: white;
	--dice-color: darkorange;
	--title-color: #d70000;
	--greentext-color: #789922;
	--pinktext-color:#E0727F;
}

.post-container, #float .post-container, .stickynav, .pages, .toggle-summary, .catalog-tile, #livetext, #threadstats {
	border-width: 0 1px 1px 0;
}
a.quote {
    color:var(--post-link-color);
}

.alt {
    background: var(--label-color);
    color: var(--font-color);
}

td, th {
    padding: 5px;
    overflow-wrap: anywhere;
    padding: 6px;
}

table {
    background: var(--background-rest);
    border: 1px solid var(--highlighted-post-color);
    border-radius: 5px;
}

#float .post-container, #livetext, #threadstats, .catalog-tile, .pages, .post-container, .stickynav, .toggle-summary {
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}

.post-container {
    padding: 10px;
}

.toggle-summary {
    padding: 13px;
}

#postform {

    border-radius: 5px;
}

#dragHandle {

    border-radius: 5px;
}

.label, .rlabel {
	border: none;
    border-radius: 5px;
    padding: 5px;
}

.modal {

    border-radius: 5px;
    padding: 5px;
}

.post-date{
    opacity: 0.5;
}

img {
    border-radius: 5px;
}

video {
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
.post-info {
    background: var(--darken);
    margin: -6.5px -6.5px 5px -6.5px;
    border-bottom: 1px solid var(--post-outline-color);
    border-radius: 5px;
}

.container {
    padding: 5px;
    
}
}

.user-id {
    text-shadow: none;
    color: #fff;
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
}

.bottom-reply {
    border-radius: 5px;
}

.collapse {
    border-radius: 5px;
}

body {
    background: url(/css/themes/assets/ptchan-bg.png) repeat 0 0 #ffe
}
