body {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #EEF2FF;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

span {
	margin-right: 5px;
}

input, textarea {
    display: block;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	border-radius: 3px;
	max-width:100%;
}

.post-check {
	vertical-align: sub;
	display: inline-block;
}

input textares {
	padding: 8px;
}

.container {
	margin: 5px;
	margin-top: 57px;
}

.board-title {
	color: #AF0A0F;
	font-size: 20pt;
	font-weight: bold;
	font-family: tahoma;
	letter-spacing: -2px;
}

.post-container {
	margin-top: 5px;
	margin-left: 15px;
	padding: 5px;
	background: #D6DAF0;
	display: inline-block;
	border-color: #B7C5D9;
	border-width: 0 1px 1px 0;
	border-style: none solid solid none;
}

.post-container.op {
	background: none;
	margin-left: 0;
	display: block;
	border: none;
}

.post-subject {
	color: #0F0C5D;
	font-weight: bold;
}

.post-name {
	color: #117743;
	font-weight: bold;
}

.post-info {

}

.post-image {

}

.post-content {

}

.navbar {
	border-bottom: 1px solid black;
	margin: 0;
	line-height: 50px;
	height: 50px;
	position: fixed;
	width: 100%;
	background: #eef2ff;
}

.nav-item {
	font-size: 14pt;
	text-decoration: none;
	float: left;
	background: #D6DAF0;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-item:hover {
	box-shadow: inset 0 0 100px 100px rgba(255,255,255,.1);
}

.footer {
	line-height: 50px;
	border-top: 1px solid black;
	text-align: center;
	flex-shrink: 0;
	margin-top: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}
