body {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background: #EEF2FF;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.spoiler {
	background: black;
}

.spoiler:hover {
	color: white;
}

.post-mode {
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

.reports {
	background: #fca!important;
	border-color: #c97!important;
	border-width: 1px 0;
	border-style: solid none;
}

.redtext {
	color: maroon;
}

.greentext {
	color: green;
}

blockquote {
	word-break: break-all;
	white-space: pre-wrap;
}

span {
	margin-right: 5px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input, textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	border-radius: 3px;
	max-width:100%;
	border: none;
	margin: 2px;
	padding: 5px;
}

.form-wrapper {
	align-items: center;
	margin: 10px 0;
}

.action-wrapper {
	align-items: center;
	/*flex-direction: row;*/
}

.form-post {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.user-id {
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
	color: white;
	padding: 0px 2px;
}

.post-check {
	position: relative;
	top: 3px;
	margin: 2px;
	margin-right: 4px;
	padding: 0;
}

.post-files {
	float: left;
	margin: 3px 20px 0 0;
}

.post-file {
	display: inline-flex;
	flex-direction: column;
	margin: 0px 4px;
}

.post-file-info {
	text-align: center;
	margin: 2px;
	margin-top: 0px;
	max-width: 128px;
	word-break: break-all;
}

.post-file-src {
	margin: 0 auto;
}

figure {
}

input textarea {
	padding: 8px;
}

.container {
	padding: 60px 10px 10px 10px;
}

.board-title {
	color: #af0a0f;
	font: bolder;
	letter-spacing: -2px;
	text-align: center;
	margin: 0;
}

.no-decoration {
	text-decoration: none;
	color: white;
}

.board-description {
	text-align:center;
	margin: 0;
}

.post-container {
	margin: 1px;
	padding: 2px;
	background: #D6DAF0;
	border-color: #B7C5D9;
	border-width: 0 1px 1px 0;
	border-style: none solid solid none;
	max-width: 100%;
}

.post-container:target, .op:target {
	outline: 1px dashed blue;
	outline-offset: -1px;
}

.post-container.op {
	background: none;
	margin-left: 0;
	display: block;
	border: none;
	width: 100%;
}

.post-subject {
	color: #0F0C5D;
	font-weight: bold;
}

.post-name {
	color: #117743;
	font-weight: bold;
}

.post-info {
	margin-top: -2px;
}

.post-image {

}

.post-content {

}

.navbar {
	border-bottom: 1px solid lightgray;
	margin: 0;
	position: fixed;
	width: 100%;
	background: #eef2ff;
}

.nav-item {
	line-height: 50px;
	text-decoration: none;
	float: left;
	background: #D6DAF0;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid lightgray;
}

.nav-item:hover {
	box-shadow: inset 0 0 100px 100px rgba(255,255,255,.1);
}

.footer {
	border-top: 1px solid lightgray;
	text-align: center;
	flex-shrink: 0;
	margin-top: auto;
	line-height: 50px;
}

table, th, td {
	border-bottom: 1px solid lightgray;
	border-collapse: collapse;
}

.boards-table {
	font-size: 16pt;
	margin: 0 auto;
}

th {
	background: #D6DAF0;
}

th, td {
	padding: 5px;
}

hr {
	color: lightgray;
	/*border-top: 1px solid black;
	background: lightgray;*/
}

@media only screen and (max-width: 800px) {

	input {
		height: 30px;
	}

	.form-post {
		width: 100%;
	}

	.form-login {
		width: 100%;
	}

	.post-check {
		top: 2px;
		height: 8px;
	}

	.post-container {
		width: 100%;
	}

}
