mixin globalmanagenav(selected)
	nav.pages
		a(href='reports.html' class=(selected === 'reports' ? 'bold' : '')) [Reports]
		|  
		a(href='bans.html' class=(selected === 'bans' ? 'bold' : '')) [Bans]
		|  
		a(href='recent.html' class=(selected === 'recent' ? 'bold' : '')) [Recent]
		if permLevel === 0
			|  
			a(href='accounts.html' class=(selected === 'accounts' ? 'bold' : '')) [Accounts]
			|  
			a(href='news.html' class=(selected === 'news' ? 'bold' : '')) [News]

