mixin managenav(selected)
	nav.pages
		a(href='reports.html' class=(selected === 'reports' ? 'bold' : '')) [Reports]
		|  
		a(href='bans.html' class=(selected === 'bans' ? 'bold' : '')) [Bans]
		|  
		if permLevel < 3
			a(href='settings.html' class=(selected === 'settings' ? 'bold' : '')) [Settings]
			|  
			a(href='banners.html' class=(selected === 'banners' ? 'bold' : '')) [Banners]
