mixin report(r)
	.reports.post-container
		input.post-check(type='checkbox', name='checkedreports' value=r.id)
		|  Date: 
		- const reportDate = new Date(r.date);
		time.reltime(datetime=reportDate.toISOString()) #{reportDate.toLocaleString(undefined, { hour12:false })}
		|  Reason: #{r.reason}
