extends ../layout.pug

block content
	h1.board-title #{__('502 Bad Gateway')}
	.col.flex-center.mv-10
		p #{__('The server acting as a gateway or proxy received an invalid response from the upstream server.')}
