extends ../layout.pug

block content
	h1.board-title #{__('503 Service Unavailable')}
	.col.flex-center.mv-10
		p #{__('The server is currently unable to handle the request due to a temporary overload or scheduled maintenance.')}
