extends ../layout.pug

block content
	h1.board-title #{__('504 Gateway Timeout')}
	.col.flex-center.mv-10
		p #{__('The server acting as a gateway or proxy did not get a response in time from the upstream server.')}
