extends ../layout.pug
include ../mixins/ban.pug

block head
	script(src='/js/all.js')
	title Banned!

block content
	h1.board-title Banned!
	h4.board-description Bans currently in place against your IP:
	include ../includes/banform.pug
