extends ../layout.pug
include ../mixins/ban.pug

block head
	title #{__('Banned!')}

block content
	h1.board-title #{__('Banned!')}
	h4.board-description #{__('Bans currently in place against your IP')}:
	include ../includes/banform.pug
