extends ../layout.pug
include ../mixins/ban.pug

block head
	title Banned!

block content
	h1.board-title Banned!
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-head
				th Bans currently in place against your IP:
			for ban in bans
				tr.table-row
					td
						+ban(ban)
