extends ../layout.pug
include ../mixins/ban.pug

block head
	title Banned!

block content
	h1.board-title Banned!
	h4.board-description Bans currently in place against your IP:
	include ../includes/banform.pug
