extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - Recent Posts

block content
	span #{board.name} - #{board.description}
	hr(size=1)
	for thread in threads
		+post(board, thread)
		for post in thread.replies
			+post(board, post)
		hr(size=1)
