extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{board.description}

block content
	include ../includes/boardheader.pug
	br
	include ../includes/postform.pug
	br
	nav.pages#top 
		include ../includes/pages.pug
		a(href='#bottom') [Bottom]
		| 
		a(href=`/${board._id}/catalog.html`) [Catalog]
		|
	hr(size=1)
	form(action='/forms/board/'+board._id+'/actions' method='POST' enctype='application/x-www-form-urlencoded')
		if threads.length === 0
			p No posts.
			hr(size=1)
		for thread in threads
			section.thread
				+post(thread, true)
				for post in thread.replies
					+post(post, true)
			hr(size=1)
		nav.pages#bottom
			include ../includes/pages.pug
			a(href='#top') [Top]
			| 
			a(href=`/${board._id}/catalog.html`) [Catalog]
		br
		include ../includes/actionfooter.pug
