extends ../layout.pug
include ../mixins/post.pug
include ../mixins/boardnav.pug
include ../mixins/boardheader.pug

block head
	script(src='/js/all.js')
	title /#{board._id}/ - #{board.settings.name} - page #{page}

block content
	+boardheader()
	br
	include ../includes/postform.pug
	br
	include ../includes/announcements.pug
	include ../includes/stickynav.pug
	nav.pages
		include ../includes/boardpages.pug
		+boardnav(null, false, false)
	form(action='/forms/board/'+board._id+'/actions' method='POST' enctype='application/x-www-form-urlencoded')
		hr(size=1)
		if threads.length === 0
			p No posts.
			hr(size=1)
		for thread in threads
			.thread
				+post(thread, true)
				for post in thread.replies
					+post(post, true)
			hr(size=1)
		nav.pages
			include ../includes/boardpages.pug
			+boardnav(null, false, false)
		include ../includes/actionfooter.pug
