extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board}/

block content
	hr
	for thread in threads
		h1 OP:
		+post(board, thread)
		h1 Replies:
		for post in thread.replies
			+post(board, post)
		hr
