extends ../layout.pug

block head
	title Block Bypass

block content
	h1.board-title Block Bypass
	.form-wrapper.flex-center.mv-10
		if message
			p.title #{message}
		form.form-post(action='/forms/blockbypass' method='POST' data-captcha-preload='true')
			include ../includes/captcha.pug
			if minimal
				input(type='hidden' name='minimal' value='1')
			input(type='submit', value='Submit')
