doctype html
html
	head
		link(rel='stylesheet', href='/css/style.css')
	body(style='margin:0;padding:0;background:white;')
		img(src='/captcha', style='width:200px;height:80px;margin:0 auto;')
		form(action='/forms/newcaptcha', method='POST')
			input(style='width: 100%;border-width: 1px 0 0 0;', type='submit', value='New Captcha')
