extends ../layout.pug
include ../mixins/catalogtile.pug
include ../mixins/boardnav.pug
include ../mixins/boardheader.pug

block head
	script(src='/js/all.js')
	title /#{board._id}/ - Catalog

block content
	+boardheader('Catalog')
	br
	include ../includes/stickynav.pug
	nav.pages
		+boardnav('catalog', true, false)
	hr(size=1)
	if threads.length === 0
		p No posts.
	else 
		.catalog
			for thread, i in threads
				+catalogtile(board, thread, i+1)
	hr(size=1)
	nav.pages
		+boardnav('catalog', true, false)
