extends ../layout.pug
include ../mixins/catalogtile.pug
include ../mixins/boardnav.pug
include ../mixins/boardheader.pug

block head
	title /#{board._id}/ - Catalog

block content
	+boardheader('Catalog')
	br
	include ../includes/postform.pug
	br
	include ../includes/announcements.pug
	include ../includes/stickynav.pug
	.pages
		+boardnav('catalog', true, false)
	hr(size=1)
	if threads.length === 0
		p No posts.
	else 
		.catalog
			for thread, i in threads
				+catalogtile(board, thread, i+1)
	hr(size=1)
	.pages
		+boardnav('catalog', true, false)
