extends ../layout.pug

block head
	title Change Password

block content
	h1.board-title Change Password
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/changepassword' method='POST' data-captcha-preload='true')
			.row
				.label Username
				input(type='text', name='username', maxlength='50' required)
			.row
				.label Existing Password
				input(type='password', name='password', maxlength='100' required)
			.row
				.label New Password
				input(type='password', name='newpassword', maxlength='100' required)
			.row
				.label Confirm New Password
				input(type='password', name='newpasswordconfirm', maxlength='100' required)
			.row
				.label 2FA Code
				input(type='number' name='twofactor' placeholder='if enabled')
			if captchaOptions.type === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='Change Password')
		p: a(href='/login.html') Login
		p: a(href='/register.html') Register
