extends ../layout.pug

block head
	title Login

block content
	section.form-wrapper
		form.form-post(action='/forms/changepassword' method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			section.postform-section
				.postform-label Username
				input#username(type='text', name='username', placeholder='username' maxlength='50')
			section.postform-section
				.postform-label Existing Password
				input#password(type='password', name='password', maxlength='100')
			section.postform-section
				.postform-label New Password
				input#password(type='password', name='newpassword', maxlength='100')
			section.postform-section
				.postform-label Confirm New Password
				input#password(type='password', name='newpasswordconfirm', maxlength='100')
			input(type='submit', value='submit')
