extends ../layout.pug

block head
	title Change Password

block content
	section.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/changepassword' method='POST')
			//input(type='hidden' name='_csrf' value=csrf)
			section.row
				.label Username
					.required *
				input#username(type='text', name='username', maxlength='50' required)
			section.row
				.label Existing Password
					.required *
				input#password(type='password', name='password', maxlength='100' required)
			section.row
				.label New Password
					.required *
				input#password(type='password', name='newpassword', maxlength='100' required)
			section.row
				.label Confirm New Password
					.required *
				input#password(type='password', name='newpasswordconfirm', maxlength='100' required)
			section.row
				.label Captcha
					.required *
				span.col
					iframe.captcha(src='/captcha.html' width=200 height=110 scrolling='no')
					input#captcha(type='text', name='captcha', autocomplete='off' placeholder='captcha text' pattern=".{6}" required title='6 characters')
			input(type='submit', value='Change Password')
		p: a(href='/login.html') Login
		p: a(href='/register.html') Register
