extends ../layout.pug

block head
	title Create Board

block content
	h1.board-title Create Board
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/create' method='POST' data-captcha-preload='true')
			.row
				.label URI e.g. /uri/
				input(type='text', name='uri', maxlength=globalLimits.fieldLength.uri pattern='[a-zA-Z0-9]+' required title='alphanumeric only')
			.row
				.label Name
				input(type='text', name='name', maxlength=globalLimits.fieldLength.boardname required)
			.row
				.label Description
				input(type='text', name='description', maxlength=globalLimits.fieldLength.description)
			.row
				.label Tags
				textarea(name='tags' placeholder='Newline separated, max 10')
			if captchaType === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='submit')

