extends ../layout.pug
include ../mixins/globalmanagenav.pug
include ../mixins/post.pug

block head
	script(src='/js/all.js')
	title Manage

block content
	h1.board-title Global Management
	br
	+globalmanagenav('recent')
	hr(size=1)
	h4.no-m-p Recent posts:
	form(action=`/forms/global/actions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if posts.length === 0
			p No posts.
		else
			for p in posts
				section.thread
					+post(p, false, false, true)
				hr(size=1)
			include ../includes/actionfooter_globalmanage.pug
