extends ../layout.pug
include ../mixins/post.pug
include ../mixins/globalmanagenav.pug

block head
	script(src='/js/all.js')
	title Manage

block content
	h1.board-title Global Management
	br
	+globalmanagenav('reports')
	hr(size=1)
	h4.no-m-p Global Reports:
	form(action=`/forms/global/actions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if reports.length === 0
			p No reports.
		else
			for report in reports
				section.thread
					+post(report, false, false, true)
				hr(size=1)
			include ../includes/actionfooter_globalmanage.pug
