extends ../layout.pug

block head
	title Board list

block content
	h1.board-title Imageboard
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-head
				th Welcome
			tr.table-row
				td
					p
						| This is an anonymous imageboard, a discussion board/BBS where users share text or images about various topics. 
					p
						| The most notable feature of imageboards and primary difference to traditional forums is 
						| that anybody can make a post without the need to register an account or provide 
						| any personal information. This way, what is said becomes more important than who says it.
						| Threads do not last forever and the least recently bumped threads are pruned as they fall off the last page. This creates an 
						| element of transience and keeps making room for new content. 
					p 
						| Pick a board below to join the discussion.
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-head
				th Id
				th Name
				th Description
			each board in boards
				tr.table-row
					td: a(href=`/${board._id}/`) /#{board._id}/
					td #{board.settings.name}
					td #{board.settings.description}
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-head
				th Source Code
			tr.table-row
				td
					p
						| The source code for this site is available 
						a(href='https://github.com/fatchan/jschan/') here
						|  (and in the footer of each page) and is licensed under the Affero General Public License v3.
