extends ../layout.pug

block head
	title Board list

block content
	h1.board-title Imageboard
	h4.board-description Board list
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-head
				th Board
				th Name
				th Description
			each board in boards
				tr.table-row
					td: a(href=`/${board._id}/`) /#{board._id}/
					td #{board.name}
					td #{board.description}
