extends ../layout.pug

block head
	title Login

block content
	section.form-wrapper
		form.form-post(action='/forms/login' method='POST')
			input(type='hidden' name='_csrf' value=csrf)
			input(type='hidden' name='redirect' value=redirect)
			section.postform-section
				.postform-label Username
				input#username(type='text', name='username', placeholder='username' maxlength='50')
			section.postform-section
				.postform-label Password
				input#password(type='password', name='password', placeholder='password' maxlength='100')
			input(type='submit', value='submit')
		p No account? #[a(href='/register') Register]

