extends ../layout.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug

block head
	script(src='/js/all.js')
	title /#{board._id}/ - Manage

block content
	+boardheader('Manage')
	br
	+managenav('main')
	hr(size=1)
	p Welcome to the management page. #[a(href=`/{board._id}/index.html`) Return]
