extends ../layout.pug
include ../mixins/post.pug

block head
	title Manage

block content
	include ../includes/boardheader.pug
	hr(size=1)
	h4.board-description Management Panel
	form(action='/forms/board/'+board._id+'/posts' method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if posts.length === 0
			p No reports.
			hr(size=1)
		for post in posts
			section.thread
				+post(board, post)
			hr(size=1)
		section.action-wrapper
			span
				label
					input.post-check(type='checkbox', name='delete' value=1)
					| Delete
			span
				label
					input.post-check(type='checkbox', name='spoiler' value=1)
					| Spoiler
			span
				label
					input.post-check(type='checkbox', name='ban' value=1)
					| Ban
				label
					input.post-check(type='checkbox', name='global_ban' value=1)
					| Global Ban
				label
					input#report(type='text', name='reason', placeholder='ban reason' autocomplete='off')
			input(type='submit', value='submit')
			
	
