extends ../layout.pug
include ../mixins/ban.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug

block head
	script(src='/js/all.js')
	title /#{board._id}/ - Manage Bans & Appeals

block content
	+boardheader('Bans')
	br
	+managenav('bans')
	hr(size=1)
	h4.no-m-p Bans & Appeals:
	form(action=`/forms/board/${board._id}/editbans` method='POST' enctype='application/x-www-form-urlencoded')
		include ../includes/banform.pug
