extends ../layout.pug
include ../mixins/post.pug
include ../mixins/ban.pug

block head
	title Manage

block content
	include ../includes/boardheader.pug
	h4 Reports:
	form(action=`/forms/board/${board._id}/actions` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if reports.length === 0
			p No reports.
			hr(size=1)
		else
			for report in reports
				section.thread
					+post(report, false, true)
				hr(size=1)
			include ../includes/actionfooter_manage.pug
			hr(size=1)
	h4 Bans:
	form(action=`/forms/board/${board._id}/unban` method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		if bans.length === 0
			p No bans.
			hr(size=1)
		else
			for ban in bans
				section.thread
					+ban(ban)
				hr(size=1)
			section.action-wrapper
				input(type='submit', value='unban')

