extends ../layout.pug
include ../mixins/ban.pug
include ../mixins/managenav.pug
include ../mixins/boardheader.pug

block head
	title /#{board._id}/ - Bans & Appeals

block content
	+boardheader('Bans')
	br
	+managenav('bans')
	hr(size=1)
	h4.mv-5 Bans & Appeals:
	form(action=`/forms/board/${board._id}/editbans` method='POST' enctype='application/x-www-form-urlencoded')
		include ../includes/managebanform.pug
