extends ../layout.pug

block head
	title Register

block content
	h1.board-title Register
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/register' method='POST' data-captcha-preload='true')
			.row
				.label Username
				input(type='text', name='username', maxlength='50' pattern='[a-zA-Z0-9]+' required title='alphanumeric only')
			.row
				.label Password
				input(type='password', name='password', maxlength='100' required)
			.row
				.label Confirm Password
				input(type='password', name='passwordconfirm', maxlength='100' required)
			if captchaType === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='Register')
		p: a(href='/login.html') Login
		p: a(href='/changepassword.html') Change Password
