extends ../layout.pug

block head
	title Register

block content
	h1.board-title Register
	section.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/register' method='POST')
			section.row
				.label Username
				input(type='text', name='username', maxlength='50' pattern='[a-zA-Z0-9]+' required title='alphanumeric only')
			section.row
				.label Password
				input(type='password', name='password', maxlength='100' required)
			section.row
				.label Confirm Password
				input(type='password', name='passwordconfirm', maxlength='100' required)
			section.row
				.label Captcha
				span.col
					include ../includes/captcha.pug
			input(type='submit', value='Register')
		p: a(href='/login.html') Login
		p: a(href='/changepassword.html') Change Password
