extends ../layout.pug

block head
	title Register

block content
	section.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/register' method='POST')
			//input(type='hidden' name='_csrf' value=csrf)
			section.postform-row
				.postform-label Username
				input#username(type='text', name='username', maxlength='50')
			section.postform-row
				.postform-label Password
				input#password(type='password', name='password', maxlength='100')
			section.postform-row
				.postform-label Confirm Password
				input#password(type='password', name='passwordconfirm', maxlength='100')
			section.postform-row
				.postform-label Captcha
				span.postform-col
					img.captcha(src='/captcha' width=200 height=80)
					input#captcha(type='text', name='captcha', autocomplete='off' placeholder='captcha text' maxlength='6')
			input(type='submit', value='Register')
		p Already have an account? #[a(href='/login') Login]
