extends ../layout.pug

block head
	title Register

block content
	section.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/register' method='POST')
			//input(type='hidden' name='_csrf' value=csrf)
			section.postform-row
				.postform-label Username
					.required *
				input#username(type='text', name='username', maxlength='50' required)
			section.postform-row
				.postform-label Password
					.required *
				input#password(type='password', name='password', maxlength='100' required)
			section.postform-row
				.postform-label Confirm Password
					.required *
				input#password(type='password', name='passwordconfirm', maxlength='100' required)
			section.postform-row
				.postform-label Captcha
					.required *
				span.postform-col
					iframe.captcha(src='/captcha.html' width=200 height=110 scrolling='no')
					input#captcha(type='text', name='captcha', autocomplete='off' placeholder='captcha text' maxlength='6' required)
			input(type='submit', value='Register')
		p Already have an account? #[a(href='/login.html') Login]
