extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.title}

block content
		h1 OP:
		+post(board, thread)
		h1 Replies:
		for post in thread.replies
			+post(board, post)
		hr
