extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.title}

block content
	a(href='/'+board._id) Back to /#{board._id}/
	hr(size=1)
	include ../includes/postform.pug
	hr(size=1)
	form(action='/api/board/'+board._id+'/delete' method='POST' enctype='application/x-www-form-urlencoded')
		input(type='hidden' name='_csrf' value=csrf)
		+post(board, thread)
		for post in thread.replies
			+post(board, post)
		input#password(type='password', name='password', placeholder='password (for deletion)')
		input(type='submit', value='delete')




