extends ../layout.pug
include ../mixins/post.pug

block head
	title /#{board._id}/ - #{thread.title}

block content
	a(href='/'+board._id) Back to /#{board._id}/
	hr(size=1)
	+post(board, thread)
	for post in thread.replies
		+post(board, post)
	hr(size=1)
