extends ../layout.pug

block head
	title Setup 2FA

block content
	.board-header
		h1.board-title Two Factor Authentication Setup
	.form-wrapper.flex-center.mv-10
		form.form-post.nogrow(action=`/forms/twofactor` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			
			h4.mv-5 Scan the QR Code in an authenticator app, and submit the code:
			.row
				span.code.hljs.twofactor.noselect #{qrCodeText}
			.row
				h4.no-m-p No camera? Use this secret in your authenticator app instead:
			.row
				span.code #{secretBase32}
			.row
				h4.mv-5.ban Enabling 2FA will invalidate all your existing sessions and you will have to login again.
			.row
				.label 2FA Code
				input(type='number' name='twofactor' placeholder='6 digits')
			.row
				input(type='submit', value='Submit')
