{
    "dbURL": "mongodb://username:password@host:port",
    "port": 7000,
    "sessionSecret": "long random string",
	"tripcodeSecret": "long random string",
	"ipHashSecret": "long random string",
	"cacheTemplates": true,
	"refererRegex": "^https?:\\/\\/(?:www\\.)?domain\\.com\\/",
	"openGraph": {
		"siteName": "site name",
		"url": "https://domain.com"
	}
}
