{
    "dbURL": "mongodb://username:password@localhost:27017",
    "port": 7000,
    "sessionSecret": "CHANGE ME",
	"cacheTemplates": true,
	"refererRegex": "^https?:\\/\\/(?:www\\.)?DOMAIN\\.TLD\\/",
	"openGraph": {
		"siteName": "CHANGE ME",
		"url": "https://DOMAIN.TLD"
	}
}
