module.exports = {

	//mongodb connection string
	dbURL: 'mongodb://jschan:CHANGE-ME-YOUR-SECURE-MONGODB-PASSWORD@127.0.0.1:27017/jschan',

	//database name
	dbName: 'jschan',

	//redis connection info
	redis: {
		host: '127.0.0.1',
		port: '6379',
		password: 'CHANGE-ME-YOUR-SECURE-REDIS-PASSWORD'
	},

	//backend webserver port
	port: 7000,

	//secrets/salts for various things
	cookieSecret: 'changeme',
	tripcodeSecret: 'changeme',
	ipHashSecret: 'changeme',
	postPasswordSecret: 'changeme',

	//keys for google recaptcha
	google: {
		siteKey: 'changeme',
		secretKey: 'changeme'
	},

	//keys for hcaptcha
	hcaptcha: {
		siteKey: '10000000-ffff-ffff-ffff-000000000001',
		secretKey: '0x0000000000000000000000000000000000000000'
	},

	//keys for yandex smartcaptcha
	yandex: {
		siteKey: 'changeme',
		secretKey: 'changeme'
	},

	//enable debug logging
	debugLogs: true,

};
