{
	"following": [
		"https://example.com/webring.json"
	],
	"blacklist": [
		"badwebsite.com",
	],
	"logo": [
		"https://yourdomain.com/favicon.ico"
	],
	"proxy": {
		"enabled": false,
		"address": "socks5h://localhost:9050"
	}
}
